@import '../../styles.scss';

.stories{

  display: flex;
  gap: 10px;
  height: 250px;
  margin-bottom: 30px;

  @include mobile {
    height: 50px;
    justify-content: space-between;
    margin-bottom: 20px;
    
  }

  .story{
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    @include mobile {
      flex: none;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      
    }
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    span{
      
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: #FFF;
      // font-weight: 500;
      font-size: 12px;

      @include mobile {
        display: none;
      }
    }

    button {
      position: absolute;
      bottom: 40px;
      left: 10px;
      color: #FFF;
      background-color: #5271ff;
      border: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include mobile {
        display: none;
      }
    }
  }
}