.navbar-container {
  // background-color: aqua;
  border-bottom: 1px solid lightgray;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: auto;
  max-width: 1400px;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    // background-color: tomato;
    gap: 15px;

    span {
      font-weight: bold;
      font-size: 20px;
      color: rgb(109, 21, 224);
    }

    // .search{
    //   display: flex;
    //   align-items: center;
    //   gap: 10px;
    //   border: 1px solid lightgray;
    //   border-radius: 5px;
    //   padding: 5px;
    //   input{
    //     border: none;
    //     min-width: 450px;
    //   }
    // }
  }

  .center {
    // background-color: rosybrown;

    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 5px;
      input {
        border: none;
        min-width: 450px;
        font-size: 16px;
      }

      input:focus{
        outline: none;
      }
    }
  }

  .right {
    // background-color: cadetblue;
    display: flex;
    align-items: center;
    gap: 10px;
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
      }

      span {
      }
    }
  }
}
